.container {
	padding: 50px;
	margin: 15px;
}
.poster {
	width: 100px;
	height: 150px;
	padding: 50px;
	border: 2px black solid;
	position: relative;
}
.dday {
	position: absolute;
	bottom: 2px;
	left: 2px;
}
