.write {
	display: flex;
	align-items: center;
	margin: 15px 50px;
	padding: 10px;
	border: 3px solid rgb(198, 203, 255);
	border-radius: 10px;
}

.plusButton {
	width: 35px;
	height: 35px;
	border: solid rgb(198, 203, 255);
	font-size: 20px;
	color: rgba(0, 20, 236, 0.582);
	background-color: rgba(138, 167, 247, 0.781);
	border-radius: 50%;
}

.description {
	text-align: center;
}

.delete {
	width: 60px;
	height: 30px;
}

.hidden {
	display: none;
}

.listItem {
	margin-right: 80px;
}

.listItem:nth-child(3),
.listItem:nth-child(4) {
	text-align: center;
	width: 200px;
}

.zeroOpacity {
	opacity: 0;
}
